.wide-shelf {
    height: 300px;
    color: var(--background);
    background-color: var(--primary);
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    border-radius: 10px 10px 10px 10px;
}

.half-shelf {
    width: calc(50% - 60px);
    box-sizing: border-box;
    float: left;
    padding-left: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--dull-primary);
}

.mini-shelf {
    height: 300px;
    padding-left: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-top: 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--dull-primary);
}

.book {
    float: left;
    margin-right: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltip-text {
    visibility: hidden;
    width: 170px;
    background-color: var(--text);
    color: var(--background);
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -90px;
    margin-top: 8px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--text) transparent;
}